$mobilePortrait: "only screen and (min-width : 260px) and (max-width : 580px)";
$mobileLandscape: "only screen and (min-width : 640px)";
$tabletPortrait: "only screen and (min-width : 768px)";
$tabletLandscape: "only screen and (min-width : 1024px)";
$smallDesktop: "only screen and (min-width:1100px)";
$desktopDisplay: "only screen and (min-width : 1400px)"; 