div#edit-actions {
    margin-bottom: 10% !important;
}
.field.field--name-title.field--type-string.field--label-hidden.field--item {
    display: none;
}
button#edit-actions-next {
    /* float: right; */
    margin-top: 6%;
}
.cart {
    position: relative;
    padding: 0px 0px !important;
}
button#edit-checkout {
    float: right;
}
div#edit-actions {
    margin-bottom: 3%;
}
aside .account.info ul > li:hover {
    background: #4fc3ff !important;
}
aside .account.info ul > li {
    background: #f3f6fc !important;
}
aside .affilate.info ul > li:hover {
    background: #4fc3ff !important;
}
aside .affilate.info ul > li {
    background: #f3f6fc !important;
}
aside#column-left {
    z-index: 10;
}
aside .blog-categories ul > li {
    background: #f3f6fc !important;
} 
aside .blog-categories ul > li:hover {
    background: #4fc3ff !important;
}
@media #{$mobilePortrait} {
	.simple_blog-category {
	    margin-left: 0%;
	    margin-right: 0%;
	}
	#page1 {
    	background: #fff;
	    overflow: hidden;
	    margin-top: 6%;
	}
	#page {
	    margin-top: -6%;
	}
	.cart.cart-block {
	    margin-top: 15% !important;
	    background: white !important;
	}
	.text-right {
	    text-align: right;
	    margin-top: 97%;
	}
}

@media #{$mobileLandscape} {

	.simple_blog-category {
	    margin-left: 0%;
	    margin-right: 0%;
	}
	#page1 {
	    background: #fff;
	    overflow: hidden;
	    margin-top: 3%;
	}
	#page {
	    margin-top: -4%;
	}
	.cart.cart-block {
	    margin-top: 10% !important;
	    background: white !important;
	}
	.text-right {
	    text-align: right;
	    margin-top: 70%;
	}
}

@media #{$tabletPortrait} {
	.simple_blog-category {
	    margin-left: -2%;
	    margin-right: -2%;
	}
	#page1 {
	    background: #fff;
	    overflow: hidden;
	    margin-top: 3%;
	}
	#page {
	    margin-top: -4%;
	}
	.cart.cart-block {
	    margin-top: 0% !important;
	    background: white !important;
	}
	.text-right {
	    text-align: right;
	    margin-top: 0%;
	}
}

@media #{$tabletLandscape} {

.simple_blog-category {
    margin-left: -2.8%;
    margin-right: -2.8%;
}
#page1 {
	    background: #fff;
	    overflow: hidden;
	    margin-top: 3%;
	}
	#page {
	    margin-top: -4%;
	}
	.cart.cart-block {
	    margin-top: 0% !important;
	    background: white !important;
	}
	.text-right {
	    text-align: right;
	    margin-top: 0%;
	}

}

@media #{$smallDesktop} {
	.simple_blog-category {
	    margin-left: -6%;
	    margin-right: -6%;
	}
	#page1 {
	    background: #fff;
	    overflow: hidden;
	    margin-top: 2%;
	}
	#page {
	    margin-top: -2%;
	}
	.col-sm-9 {
	    float: right !important;
	}
	.cart.cart-block {
	    margin-top: 0% !important;
	    background: white !important;
	}
	.text-right {
	    text-align: right;
	    margin-top: 0%;
	}
}

@media #{$desktopDisplay} {
	.simple_blog-category {
	    margin-left: -9.3%;
	    margin-right: -9.3%;
	}
	.col-sm-9 {
	    float: right !important;
	}
	.cart.cart-block {
	    margin-top: 0% !important;
	    background: white !important;
	}
	.text-right {
	    text-align: right;
	    margin-top: 0%;
	}
}
