.region.region-footer-link-right {
    position: relative;
    top: -3em;
}
.region.region-footer-link-left {
    position: relative;
    top: -3em;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav { 
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

footer address {
    position: relative; 
}
@media #{$mobilePortrait} {

    footer ul.menu.nav {
        margin-top: -3em;
    }

    address {
        margin-bottom: 20px;
        font-style: normal;
        line-height: 1.42857143;
        margin-left: 0em;
        z-index: 1
    }

    ul.platforms.inline.horizontal {
        width: 100%;
        margin-left: -1em;
        position: relative;
        left: 6em;
    }

    .nav>li>a {
        position: relative;
        display: block;
        padding: 0px 15px !important;
    }

    a {
        background-color: transparent !important;
    }
    p.newsletter-description {
        position: relative;
        left: 6em;
    }
}

@media #{$mobileLandscape} {

    footer ul.menu.nav {
        margin-top: -3em;
    }

    address {
        margin-bottom: 20px;
        font-style: normal;
        line-height: 1.42857143;
        margin-left: 0em;
        z-index: 1
    }

    ul.platforms.inline.horizontal {
        width: 100%;
        margin-left: -1em;
        position: relative;
        left: 5em;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 0px 15px !important;
    }

    a {
        background-color: transparent !important;
    }

    p.newsletter-description {
        position: relative;
        left: 6em;
    }
}

@media #{$tabletPortrait} {

    footer ul.menu.nav {
        margin-top: -2em;
    }

    address {
        margin-bottom: 20px;
        font-style: normal;
        line-height: 1.42857143;
        margin-left: 0em;
        z-index: 1
    }

    ul.platforms.inline.horizontal {
        width: 100%;
        margin-left: -1em;
        position: relative;
        left: 5em;

    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 0px 15px !important;
    }

    a {
        background-color: transparent !important;
    }
    p.newsletter-description {
        position: relative;
        left: 6em;
    }
}

@media #{$tabletLandscape} {

    footer ul.menu.nav {
        margin-top: -3em;
    }

    address {
        margin-bottom: 20px;
        font-style: normal;
        line-height: 1.42857143;
        margin-left: -3em;
        z-index: 1
    }

    ul.platforms.inline.horizontal {
        width: 125%;
        margin-left: -1em;
        position: relative;
        left: -1em;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 0px 15px !important;
    }

    a {
        background-color: transparent !important;
    }
    p.newsletter-description {
        position: relative;
        left: 0em;
    }
}

@media #{$smallDesktop, $desktopDisplay} {

    footer ul.menu.nav {
        margin-top: -1em;
    }

    address {
        margin-bottom: 20px;
        font-style: normal;
        line-height: 1.42857143;
        margin-left: -3em;
        z-index: 1;
    }

    ul.platforms.inline.horizontal {
        width: 100%;
        margin-left: -1em;
        position: relative;
        left: -1em;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 0px 15px !important;
    }

    a {
        background-color: transparent !important;
    }
    p.newsletter-description {
        position: relative;
        left: 0em;
    }

    header address {
        margin-left: 5% !important;
    }
}