.map {
    position: relative;
    padding-bottom: 40% !important;
    width: -6em;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
} 
li#main-menu-link-content2dda95b5-9d8c-46af-8fb8-e1b892a5f109 {
    width: 100%;
}
li#main-menu-link-content5e1fbd74-fed3-4d3e-bb58-c6ad658d79c8 {
    width: 100%;
}
li#main-menu-link-content894897d8-77c3-4d6f-bd70-e634461d08ad {
    width: 100%;
}
li#main-menu-link-content4d3381f7-0b85-41d1-8476-35e6ceb8438f {
    width: 100%;
}
li#main-menu-link-contentd48ea3b2-6513-4172-a3a2-28f99d810a38 {
    width: 100%;
}
li#main-menu-link-content22a4c8d0-32aa-4cef-a3f9-26d2e0a45fcf {
    width: 100%;
}
li#main-menu-link-content5a6fed01-40c1-440f-8a13-7351d6c90a07 {
    width: 100%;
}
li#main-menu-link-content04eaf7ff-5b6c-4ff4-b3a6-effb038e5940 {
    width: 100%;
}
a.sf-depth-2.menuparent {
    margin-bottom: 5%;
}
a.sf-depth-3 {
    color: #3d8afc !important;
}
a.sf-depth-3:hover {
    color: blue !important;
}