{% if fields.name.content == "Contact Lens Types" %}
	<h2>{{fields.name.content}}</h2>
	<div class="row">
		<div class="col-sm-3">
			<div class="image">
				{{fields.field_product_image.content}}
			</div>
		</div>
		<div class="col-sm-9">{{fields.description__value.content}}</div>
	</div>
{% endif %} 