<address>
	<i class="{{ fields.field_icon.content }}"></i>
	<a href="callto:{{ fields.field_contact_info.content }}">{{ fields.field_contact_info.content }}</a>
	<span>{{ fields.field_schedule.content }}</span>
</address>