<div id="content" class="col-sm-9"> <h2>Special Offers</h2>
	<div class="product-filter clearfix">
		<div class="product-filter_elem">
			<div class="button-view">
				<button type="button" id="list-view" data-toggle="tooltip" title="List">
					<i class="material-design-view12"></i>
				</button>
				<button type="button" id="grid-view" data-toggle="tooltip" title="Grid">
					<i class="material-design-two375"></i>
				</button>
			</div>
		</div>
		<div class="product-filter_elem sort">
			<label class="control-label" for="input-sort">Sort By:</label>
			<select id="input-sort" class="form-control col-sm-3" onchange="location = this.value;">
				<option value="#&amp;sort=p.sort_order&amp;order=ASC&amp;limit=25">Default</option>
				<option value="#&amp;sort=pd.name&amp;order=ASC&amp;limit=25">Name (A - Z)</option>
				<option value="#&amp;sort=pd.name&amp;order=DESC&amp;limit=25">Name (Z - A)</option>
				<option value="#&amp;sort=ps.price&amp;order=ASC&amp;limit=25" selected="selected">Price (Low &gt; High)</option>
				<option value="#&amp;sort=ps.price&amp;order=DESC&amp;limit=25">Price (High &gt; Low)</option>
				<option value="#&amp;sort=rating&amp;order=DESC&amp;limit=25">Rating (Highest)</option>
				<option value="#&amp;sort=rating&amp;order=ASC&amp;limit=25">Rating (Lowest)</option>
				<option value="#&amp;sort=p.model&amp;order=ASC&amp;limit=25">Model (A - Z)</option>
				<option value="#&amp;sort=p.model&amp;order=DESC&amp;limit=25">Model (Z - A)</option>
			</select>
		</div>
		<div class="product-filter_elem show pull-right">
			<label class="control-label" for="input-limit">Show:</label>
			<select id="input-limit" class="form-control" onchange="location = this.value;">
				<option value="#&amp;sort=ps.price&amp;order=ASC&amp;limit=4">4</option>
				<option value="#&amp;sort=ps.price&amp;order=ASC&amp;limit=25" selected="selected">25</option>
				<option value="#&amp;sort=ps.price&amp;order=ASC&amp;limit=50">50</option>
				<option value="#&amp;sort=ps.price&amp;order=ASC&amp;limit=75">75</option>
				<option value="#&amp;sort=ps.price&amp;order=ASC&amp;limit=100">100</option>
			</select>
		</div>
		<div class="product-filter_elem">
			<div class="button-view">
				<a href="#" id="compare-total" class="compare-total material-icons-sort" data-toggle="tooltip" title="Product Compare (0)">
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		{% for row in rows %}
			{%
				set row_classes = [
					default_row_class ? 'views-row',
				]
			%}
			{{ row.content }} 
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-sm-6 text-left"></div>
		<div class="col-sm-6 text-right">Showing 1 to 2 of 2 (1 Pages)</div>
	</div>
</div> 