<ul class="breadcrumb">
	<li><a href="http://vickiedean.dev/"><i class="fa fa-home"></i></a></li>
	<li><a href="http://vickiedean.dev/">Contact Us</a></li>
</ul>
<div class="row"> 
	<div id="content" class="col-sm-12 contact_page">
		<h1 class="no-line">Contact Us</h1>
				<div class="map">
	<!-- <div id="google-map" class="map_model" data-zoom="14" data-y="40.6700" data-x=" -73.9400" data-disable-ui="false" data-scrollwheel="false" data-draggable="true" style="height:440px; width: 100%">
	</div> -->
				    {% for row in rows %}
				      {%
				        set row_classes = [
				          default_row_class ? 'views-row',
				        ]
				      %}

				        {{ row.content }}

				    {% endfor %}
				</div>
	</div>
</div>
  