{% if fields.field_parent.content == "Contact Lens Brands" %}
<li class="col-sm-3 last_line">
	<div class="thumb">
		<div class="image"><a href="#">{{ fields.field_product_image.content }}</a></div>
		<div class="name subcatname"><a href="#">{{ fields.name.content }}</a></div>
	</div>
</li>
{% endif %}