<div class="container">
	<div class="box blog_articles">
			<div class="box-heading">
				<h3>Popular Articles</h3>
			</div>
		<div class="box-content">
			<div class="row">
				{% for row in rows %}
					{%
						set row_classes = [
							default_row_class ? 'views-row',
						]
					%}
				{{ row.content }}
				{% endfor %}
			</div>
		</div>
	</div>
</div>