<div class="box blog-categories">
	<div class="box-heading"><h3>Blog Category</h3></div>
	<div class="box-content">
		<ul class="list-unstyled menu">
			{% for row in rows %}
				{%
					set row_classes = [
						default_row_class ? 'views-row',
					]
				%}
			{{ row.content }}
			{% endfor %}
		</ul>
	</div>
</div> 