<div class="col-sm-4">
     <div class="{{ fields.field_icon.content }}">
          <strong>{{ fields.field_label.content }}</strong><br>
          <a href="callto:{{ fields.field_address.content }}">{{ fields.field_address.content }}</a>
     </div>
</div>