<div class="product-thumb transition options">
	<div class="image">
		<a class="lazy" style="padding-bottom: 100%" href="#">
		  {{fields.field_product_image.content}}
		</a>
		<a class="quickview" data-rel="details" href="#quickview_featured_110010">
			<i class="material-icons-remove_red_eye"></i>
		</a>
	</div>
	<div class="caption">
		<div class="name">
			<a href="#">{{fields.field_product_name.content}}</a>
		</div>
		<div class="price">${{fields.field_price.content}} </div>
	</div>
	<div class="cart-button">
		<button class="product-btn-add" type="button" onclick="ajaxAdd($(this),36);">
			<i class="material-design-shopping231"></i>
			<span class="hidden-xs hidden-sm hidden-md">{{fields.field_button.content}}</span>
		</button>
	</div>
	<div class="cart-buttons">
		<button class="product-btn" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('36');">
			<i class="material-icons-favorite_border"></i>
		</button>
		<button class="product-btn" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('36');">
			<i class="material-icons-sort"></i>
		</button>
	</div>
</div>
