<div title="slide-1" data-src="">
	{{ fields.field_slide_background.content }}
	<div class="camera_caption fadeIn">
		<h2>{{ fields.field_description.content }}</h2>
		<a class="slide_btn" href="#">{{ fields.field_button.content }}</a>
	</div>
</div> 