<li class="slide">
  <h3><a class="slide_btn" href="#">{{ fields.field_button.content }}</a></h3>
  <h2>{{ fields.field_description.content }}</h2>
  {{ fields.field_slide_background.content }}
</li>   