<div class="col-sm-4">
     <div class="icon-box">
          <i class="{{fields.field_icon.content}}"></i>
          <h5>{{fields.field_heading.content}}</h5>
          <p>{{fields.field_description.content}}</p>
     </div>
</div>