<tr>
<td>{{fields.field_service.content}}</td>
<td>{{fields.field_locations.content}}</td>
<td>{{fields.field_delivery_schedule.content}}</td>
<td>${{fields.field_cost_per_shipment.content}}</td>
</tr>