<div class="col-sm-6">
	<div class="login-wrapper">
		<div class="well" data-match-height="match">
			<div class="heading">
				<i class="material-design-add184"></i>
				<div class="extra-wrap">
					<h2>{{fields.title.content}}</h2>
					<strong>Register Account</strong>
				</div>
			</div>
			<p>{{fields.body.content}}</p>
			<a href="#" class="btn btn-primary">{{fields.field_button.content}}</a>
		</div>
	</div>
</div>