<div class="col-sm-6 banner-2">
	<div class="banner-box">
		<a class="clearfix" href="#">
			{{fields.field_background_product.content}}
			<div class="s-desc">
				<h2>{{fields.field_heading.content}}</h2>
				<div class="btn">{{fields.field_button.content}}</div>
			</div>
		</a>
	</div>
</div>