<div class="container">
  <div class="row"> 
    <div id="content" class="col-sm-12"> 
      <div class="row">
          {% for row in rows %}
            {%
              set row_classes = [
                default_row_class ? 'views-row',
              ]
            %}

              {{ row.content }}

          {% endfor %}
      </div>
    </div>
  </div>
</div>
