{% if fields.field_popular_blog.content == true %}
	<div class="col-sm-4">
		<div class="article-title">
			{{fields.title.content}}
		</div>
		<div class="article-description">
			{{fields.body.content}}
		</div>
	</div>

{% endif %}