<div class="col-sm-6">
     <h4> {{ fields.field_term_title_right.content }} </h4>
     <p> {{ fields.field_term_description_right.content }} </p>
</div>
<div class="col-sm-6">
     <h4> {{ fields.field_term_title_left.content }} </h4>
     <p> {{ fields.field_term_description_left.content }} </p>
</div>
