
<div class="manufacturer-list">
	<div class="manufacturer-heading">
		<span> 
			{{fields.name_1.content}} 
		</span>
	</div>
	<div class="manufacturer-content">
		<div class="row">
			<div class="col-sm-6">
				{{fields.name.content}}
			</div>
		</div>
	</div>
</div>