{#
/**
* @file
* Theme implementation to display the sitemap.
*
* Available variables:
* - message: A configurable introductory message.
* - sitemap_items: A keyed array of sitemap "boxes".
*   The keys correspond to the available types of sitemap content, including:
*   - front
*   - books
*   - individual menus
*   - individual vocabularies
*   Each items contains the following variables:
*   - title: The subject of the box.
*   - content: The content of the box.
*   - attributes:  Optional attributes for the box.
*   - options:  Options are set by sitemap.helper service.
* - additional:
*
* @see template_preprocess()
* @see template_preprocess_sitemap()
*/
#}
<div id="page" class="sitemap-wrapper">
 <div class="container">
   <ul class="breadcrumb">
     <li><a href="/node"></a></li>
     <li><a href="/sitemap"></a><span>Site Map</span></li>
   </ul>

   <div class="row site-map-page"> <div id="content" class="col-sm-12"> <h1>Site Map</h1>
     <div class="row">
       <div class="sitemap">
       {% if message %}
         <div class="sitemap-message">
           {{ message }}
         </div>
       {% endif %}

       {% if sitemap_items %}
         {% for item in sitemap_items %}
           <div{{ item.attributes.addClass('sitemap-box') }}>
             <!-- Displaying specific menus. -->
               <div class="content">
                 <div class="col-sm-6">
                   {% if item.title == "Main navigation" %}
                     <h5>Categories</h5>
                   {% elseif item.title == "Account" %}
                     <h5>Pages</h5>
                   {% else %}
                     <h5>Information</h5>
                   {% endif %}
                     {{ item.content }}
                 </div>
               </div>
           </div>
         {% endfor %}
       {% endif %}

       {% if additional %}
         <div class="sitemap-additional">
           {{ additional }}
         </div>
       {% endif %}
       </div>
     </div>
   </div>
 </div>
</div>