
        <div id="content" class="col-sm-9"> 
          <h1>Affiliate Program</h1>
          <p>Contact Lens Store affiliate program is free and enables members to earn revenue by placing a link or links on their web site which advertises Contact Lens Store or specific products on it. Any sales made to customers who have clicked on those links will earn the affiliate commission. The standard commission rate is currently 5%.</p><p>For more information, visit our FAQ page or see our Affiliate terms &amp; conditions.</p>
          <div class="row"> 
            <div class="col-sm-6">
                <div class="well" data-match-height="match">
                    <h2>New Affiliate</h2>
                    <div><p>I am not currently an affiliate.</p><p>Click Continue below to create a new affiliate account. Please note that this is not connected in any way to your customer account.</p></div>
                    <a href="#" class="btn btn-primary">Continue</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="well" data-match-height="match">
                    <h2>Affiliate Login</h2>
                    <p><strong>I am a returning affiliate.</strong></p>
                    <div class="form-group">
                        <label class="control-label" for="input-email">Affiliate E-Mail</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="input-password">Password</label>
                        {{ form.pass }}
                        <br/>
                        <a class="link"> {{ form.recovery }} </a>
                    </div>
                    {{ form.actions.submit }}
                </div>
            </div> 
           </div>
        </div>